### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-a350af04e753dbb29842.json
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e443bd4f542a0c57cfb9.json
/CMakeLists.txt
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-a7d5939a7242bf739eb6.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-11-09T06-06-36-0635.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-MyLeetcode-Debug-838bce5123e7f34ae5f7.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-3ef1266abcde6bf00bc2.json
!/.gitignore
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-52d7db00a75013efbe06.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-ea1ef3a4b067ea1622c9.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-11-09T06-15-06-0098.json
/cmake-build-debug/.cmake/api/v1/reply/target-CountPrime-Debug-72b068572a437b90e68f.json
/cmake-build-debug/.cmake/api/v1/reply/target-KillRepeatElement-Debug-c75af598f4dcf1910d83.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2cdf860a764abd849be4.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-11-09T15-52-56-0651.json
/cmake-build-debug/.cmake/api/v1/reply/target-MiddleIndex-Debug-d910da46dfc4aa113e12.json
